/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

body, html {
  height: 100%;
  background-color: #f6f0ea; /* cor de fundo clara */
}

/* CONTAINER PRINCIPAL */
.container {
  display: flex;
  height: 100vh;
}

/* PARTE ESQUERDA - FORMULÁRIO */
.form-section {
  flex: 1;
  background-color: #f6f0ea; /* cor de fundo clara */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.form-section h1 {
  font-size: 2rem;
  color: #361A0E; /* marrom escuro */
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  margin-bottom: 4px;
  color: #361A0E;
  font-weight: 500;
}

input {
  padding: 10px;
  border: 1px solid #94988B;
  border-radius: 20px;
  outline: none;
  font-size: 0.9rem;
  margin-bottom: 15px;
  background-color: #E5D7C6;
}

input:focus {
  border-color: #A17857;
}

/* BOTÃO DE ENTRAR */
button {
  background-color: #A17857; /* tom de marrom suave */
  color: #fff;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #C19D7E; /* tom mais claro */
  transform: scale(1.02);
}

.centralizar_botao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

a{
    text-decoration: none;
    color:  #A17857;
    transition: 0.3s;

}

a:hover{
    color:  #C19D7E;
}
/* PARTE DIREITA - IMAGEM */
.image-section {
  flex: 1;
  background-color: #361A0E; /* fundo escuro para o logo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100vh;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image-section {
    display: none;
  }
}
